<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your Banner Page Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="banner" style="background-image: url('/images/Banner.jpg');">
        <div class="banner-content">
        <h1>Welcome to our website</h1>
        <p>Discover amazing content here.</p>
        <a href="/account/login">LOGIN</a>
        </div>
    </div>
</body>
</html>
